# Ignorer l'environnement virtuel
venv/

# Ignorer les fichiers de métadonnées Windows
*.Identifier

# Ignorer les fichiers de cache Python
__pycache__/
*.pyc

# Ignorer les fichiers de données volumineux (si nécessaire)
data/processed/
data/raw/
